* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}

.navbar {
    background-color: rgba(255, 99, 132, 0.2);
    padding: 16px 32px;
    font-size: 1.5rem;
  }

.inputField {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
  }
.input {
    flex: 1;
    padding: 4px;
    outline: none;
    border: 1px solid #c4c4c4;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    overflow: auto;
    text-align: center;
}

.clearButton{
    font-size: 0.8rem;
    border: 1px solid #c4c4c4;
    border-width: 1px;
    padding: 3px 5px; 
}