* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}

.navbar {
    background-color: rgba(255, 99, 132, 0.2);
    padding: 16px 32px;
    font-size: 1.5rem;
  }

.inputField {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    height: 2rem;
  }
.input {
    flex: 1;
    padding: 4px;
    outline: none;
    border: 1px solid #c4c4c4;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    overflow: auto;
    text-align: center;
}

.inputField > div{
    border: 1px solid #c4c4c4;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearButton:hover{
    color: #009BDB;
}

.clearButton{
    font-size: 0.8rem;
    border: none;
    border-left: 1px solid #c4c4c4;
    border-width: 1px;
    padding: 0 5px;
}
.globalButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    color: white;
    background-color: #fc6a8a;
    width : 3rem;
    height : 1.5rem;
    border: none;
    border-radius: 10%;
    margin: 0.5rem 0.25rem;
    font-size: .75rem; 
}

.graphDiv{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.graph{
    margin: 2rem 2rem;
}